<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Reporte
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAccesoreporte()}"/>
            <f:event type="preRenderView" listener="#{camaraController.listar()}"/>
            <f:event type="preRenderView" listener="#{sectorController.listar()}"/>
        </f:metadata>
        
        <h:form id="form">
            <p:wizard>
                <p:tab title="Reporte">
                    <p:panel header="Datos generales del reporte">
                        <p:messages />
                        <p:panelGrid>
                            <p:row>
                                <p:column><strong>
                                        <p:outputLabel value="Folio: #{reporteController.reporte.folio}"/>
                                    </strong></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Título" value="Título: "/>
                                    <p:inputText id="Título" value="#{reporteController.reporte.titulo}" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Hecho" value="Hecho: "/>

                                    <p:inputText id="Hecho" value="#{reporteController.reporte.hecho}" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Direccion" value="Dirección (Ingresar solo Código Postal): "/>
                                    <p:inputMask mask="99999" id="Direccion" value="#{reporteController.reporte.direccionID.codigoPostal}" required="true">
                                        <p:ajax update="direction" listener="#{reporteController.validarDireccion()}" event="keyup"/>
                                    </p:inputMask>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel id="direction" value="#{reporteController.reporte.direccionID}"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="CalleI" value="Calle donde ocurrió el incidente: "/>
                                    <p:inputText id="CalleI" value="#{reporteController.reporte.calle}" required="true" label="Calle"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Sector que atiende: "/>
                                    <p:selectOneMenu required="true" converter="selectConverter" id="Sector" value="#{reporteController.reporte.sectorID}">                            
                                        <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                        <f:selectItems value="#{sectorController.sectores}" var="sector" itemLabel="#{sector.identificador} - #{sector.nombre}" itemValue="#{sector}" /> 
                                    </p:selectOneMenu>
                                </p:column>                            
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Cámara más cercana al incidente: "/>
                                    <p:selectOneMenu required="true" converter="selectConverter" filter="#{camara.identificador}" id="Camara" value="#{reporteController.reporte.camaraID}">                            
                                        <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                        <f:selectItems value="#{camaraController.camaras}" var="camara" itemLabel="#{camara.identificador}" itemValue="#{camara}"/> 
                                        <p:ajax event="change" update="cameraDir"/>
                                    </p:selectOneMenu>
                                </p:column>                            
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel id="cameraDir" value="Dirección de la cámara: #{reporteController.reporte.camaraID.idDireccion}"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="FechaHora" value="Fecha y hora: "/>
                                    <p:calendar id="FechaHora" value="#{reporteController.reporte.fechaHora}" pattern="MM/dd/yyyy HH:mm:ss" required="true" mindate="#{reporteController.currentMinDate()}" maxdate="#{reporteController.currentMaxDate()}" label="Fecha y hora"/>
                                </p:column>
                            </p:row>
                            
                        </p:panelGrid> 
                    </p:panel>
                </p:tab>
                <p:tab title="Denunciante">
                    <p:panel header="Datos del denunciante">                        
                        <p:messages />
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="RFC" value="RFC"/>
                                    <p:inputMask mask="aaaa999999" value="#{reporteController.reporte.denuncianteID.rfc}" id="RFC" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Nombre" value="Nombre(s)"/>
                                    <p:inputText id="Nombre" value="#{reporteController.reporte.denuncianteID.nombre}" required="true"/>
                                </p:column>                                                             
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoP" value="Apellido Paterno"/>
                                    <p:inputText id="ApellidoP" value="#{reporteController.reporte.denuncianteID.apellidoPaterno}" required="true" label="Apellido Paterno"/>
                                </p:column>                                                              
                            </p:row> 

                            <p:row>
                                <p:column>
                                    <p:outputLabel for="ApellidoM" value="Apellido Materno"/>
                                    <p:inputText id="ApellidoM" value="#{reporteController.reporte.denuncianteID.apellidoMaterno}" required="true" label="Apellido Materno"/>
                                </p:column>                                                                
                            </p:row> 
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Direccion2" value="Dirección (Ingresar solo Código Postal): "/>
                                    <p:inputMask mask="99999" id="Direccion2" value="#{reporteController.reporte.denuncianteID.direccionID.codigoPostal}" required="true" label="Direccion del denunciante">
                                        <p:ajax update="direction2" listener="#{reporteController.validarDireccion2()}" event="keyup"/>
                                    </p:inputMask>
                                </p:column>
                            </p:row> 
                            <p:row>
                                <p:column>
                                    <p:outputLabel id="direction2" value="#{reporteController.reporte.denuncianteID.direccionID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="Calle" value="Calle: "/>
                                    <p:inputText id="Calle" value="#{reporteController.reporte.denuncianteID.calle}" required="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroExterior" value="Número Exterior: "/>
                                    <p:inputMask mask="999" id="NumeroExterior" value="#{reporteController.reporte.denuncianteID.numeroExterior}" required="true" label="Número Exterior"/>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="NumeroInterior" value="Número Interior: "/>
                                    <p:inputMask mask="999" id="NumeroInterior" value="#{reporteController.reporte.denuncianteID.numeroInterior}"/>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:panel header="Firma">
                                        <p:signature style="width:300px;height:200px"  backgroundColor="#DCDCDC" widgetVar="sig" guideline="true" guidelineOffset="20" required="true" value="#{reporteController.reporte.denuncianteID.firma}" id="Firma"/>
                                        <div style="margin:20px">
                                            <p:commandButton value="Clear" icon="ui-icon-close" type="button" onclick="PF('sig').clear()"/>
                                        </div>   
                                    </p:panel>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Resumen del reporte">
                    <p:panel header="Corroborar datos del reporte">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <strong><p:outputLabel value="Folio: #{reporteController.reporte.folio}"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Título: #{reporteController.reporte.titulo}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Hecho: #{reporteController.reporte.hecho}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Dirección del incidente: #{reporteController.reporte.calle}, #{reporteController.reporte.direccionID.colonia}, #{reporteController.reporte.direccionID.codigoPostal}, #{reporteController.reporte.direccionID.municipio} #{reporteController.reporte.direccionID.estado}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Sector que atiende el repote: #{reporteController.reporte.sectorID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Cámara más cercana al incidente: #{reporteController.reporte.camaraID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Fecha y hora del incidente: "/>
                                    <h:outputText value="#{reporteController.reporte.fechaHora}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab title="Resumen de datos del denunciante">
                    <p:panel header="Corroborar datos del denunciante: ">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <stron>
                                        <p:outputLabel value="RFC: #{reporteController.reporte.denuncianteID.rfc}"/>
                                    </stron>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre completo: #{reporteController.reporte.denuncianteID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Dirección: #{reporteController.reporte.denuncianteID.direccionID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputPanel>
                                        <h:outputText rendered="#{not empty reporteController.reporte.denuncianteID.firma}" style="font-size:24px;display:block" value="Firma" />
                                        <p:signature style="width:300px;height:200px;" value="#{reporteController.reporte.denuncianteID.firma}" readonly="true"
                                                     rendered="#{not empty reporteController.reporte.denuncianteID.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Registrar" actionListener="#{reporteController.crear()}"/>
                    </p:panel>
                </p:tab>
            </p:wizard>

        </h:form>

    </ui:define>
</ui:composition>
