<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Reportes
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAcceso()}"/>
            <f:event type="preRenderView" listener="#{reporteController.listar()}"/>
        </f:metadata>
        
        <h:form id="form">
            <p:dataTable paginator="true" rows="25" id="data" value="#{reporteController.reportes}" var="reporte">
                <f:facet name="header">
                    Reportes
                </f:facet>
                <p:column headerText="Folio" filterBy="#{reporte.folio}" >
                    <p:outputLabel value="#{reporte.folio}"/>
                </p:column>
                <p:column headerText="Fecha del incidente">
                    <p:outputLabel value="#{reporte.fechaHora}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Sector que atendio" filterBy="#{reporte.sectorID.identificador}">
                    <p:outputLabel value="#{reporte.sectorID}"/>
                </p:column>
                <p:column headerText="Título">
                    <p:outputLabel value="#{reporte.titulo}"/>
                </p:column>
                <p:column headerText="Hecho">
                    <p:outputLabel value="#{reporte.hecho}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Ver detalles" actionListener="#{reporteController.redirectToViewPage(reporte.idReporte)}"/>
                </p:column>
            </p:dataTable>
            <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" value="Crear reporte" actionListener="#{reporteController.redirectToCreatePage()}"/>
        </h:form>

    </ui:define>
</ui:composition>
