<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Reportes
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAcceso()}"/>
            <f:event type="preRenderView" listener="#{reporteController.loadReporte()}"/>
        </f:metadata>
        
        <p:fieldset legend="Reporte: #{reporteController.reporte.folio}">
            <p:panelGrid>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel value="Folio: #{reporteController.reporte.folio}"/></strong>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column><p:outputLabel value="Título: #{reporteController.reporte.titulo}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column><p:outputLabel value="Hecho: #{reporteController.reporte.hecho}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dirección del incidente: #{reporteController.reporte.calle}, #{reporteController.reporte.direccionID.colonia}, #{reporteController.reporte.direccionID.codigoPostal}, #{reporteController.reporte.direccionID.municipio} - #{reporteController.reporte.direccionID.estado}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Sector que atiende el reporte: #{reporteController.reporte.sectorID}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Cámara más cercana al incidente: #{reporteController.reporte.camaraID}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha y hora del incidente: "/>
                            <h:outputText value="#{reporteController.reporte.fechaHora}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                            </h:outputText>
                        </p:column>
                    </p:row>
                </p:panelGrid>                
            </p:panelGrid>
        </p:fieldset>
        <p:accordionPanel id="accordion">
            <p:tab id="ElementosReporte" title="Elementos policiales involucrados">
                <p:tabView id="policias" value="#{reporteController.reporte.elementoReporteList}" var="elementoReporte">
                    <p:tab title="Elemento ##{elementoReporte.elementoID.placa}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Nombre del elemento: #{elementoReporte.elementoID.nombreCompleto()}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Sector al que pertenece: #{elementoReporte.elementoID.sectorID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Patrulla que tenía asignada: #{elementoReporte.patrullaID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel rendered="#{elementoReporte.contesto eq 'false'}" value="Parte informativo: "/>
                                    <strong><p:outputLabel rendered="#{elementoReporte.contesto eq 'false'}" value=" El elemento aún no llena su parte informativo"/></strong>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel rendered="#{elementoReporte.contesto}" value="Parte informativo: #{elementoReporte.parteInformativo}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:commandButton rendered="#{elementoReporte.elementoID.idElemento == sessionController.elemento.idElemento and !elementoReporte.contesto}" value="Añadir parte informativo" actionListener="#{reporteController.buscarElementoReporte(elementoReporte.idElementoReporte)}" oncomplete="PF('widgetInformativo').show();" update=":dialogInformativo"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" value="Agregar elemento" oncomplete="PF('widgetElementos').show();" update=":dialogElementos"/>
                </h:form>
            </p:tab>
            
            <p:tab id="Infractores" title="Detenidos / Presuntos responsables">
                <p:tabView id="InfractoresTab" value="#{reporteController.reporte.infractorReporteList}" var="infractor">
                    <p:tab title="#{infractor.infractorID}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Fecha de nacimiento: #{infractor.infractorID.fechaNacimiento}">
                                        <f:convertDateTime pattern="d-M-yyyy" />
                                    </p:outputLabel>
                                <p:outputLabel value=" - Edad: #{infractor.infractorID.edad}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Género: #{infractor.infractorID.genero}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Nivel de educación: #{infractor.infractorID.nivelEducacion}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Religión: #{infractor.infractorID.religion}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Etnia: #{infractor.infractorID.etnia}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Delitos por los que se detuvo: #{infractor.delitos}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:form>
                                        <p:commandButton rendered="#{!infractor.hasImage and sessionController.elemento.nivelAcceso gt 0}" value="Agregar foto del detenido" oncomplete="PF('widgetInfractorFoto').show();" update=":dialogInfractorFoto" actionListener="#{reporteController.encontrarDetenidoParaFoto(infractor.idInfractorReporte)}"/>
                                    </h:form>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:graphicImage width="500px" height="300px" rendered="#{infractor.hasImage}" library="imagenes" name="#{infractor.imagen}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" value="Agregar detenido" oncomplete="PF('widgetInfractor').show();" update=":dialogInfractor"/>      
                </h:form>
            </p:tab>
            
            <p:tab id="objetos" title="Objetos recogidos como evidencia">
                <h:form>
                    <p:growl id="growl"/>
                </h:form>
                <p:tabView id="objetosData" value="#{reporteController.reporte.objetoList}" var="objeto">
                    <p:tab  title="#{objeto.nombre}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Descripción: #{objeto.descripcion}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:form>
                                        <p:commandButton rendered="#{!objeto.hasImage}" value="Agregar imagen" oncomplete="PF('widgetObjetoFoto').show();" update=":dialogObjetoFoto" actionListener="#{reporteController.encontrarObjetoParaFoto(objeto.idObjeto)}"/>
                                    </h:form>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:graphicImage width="500px" height="300px" rendered="#{objeto.hasImage}" library="imagenes" name="#{objeto.imagen}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" value="Agregar objeto" oncomplete="PF('widgetObjeto').show();" update=":dialogObjeto"/>    
                </h:form>
            </p:tab>
            
            <p:tab id="fotos" title="Soporte documental / fotos">
                <h:form>
                    <p:growl id="growl"/>
                </h:form>
                <p:tabView id="fotosData" value="#{reporteController.reporte.fotoList}" var="foto">
                    <p:tab  title="#{foto.nombre}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Descripción: #{foto.descripcion}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:graphicImage width="500px" height="300px" library="imagenes" name="#{foto.foto}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" actionListener="#{reporteController.resetUploaded()}" value="Agregar foto" oncomplete="PF('widgetFoto').show();" update=":dialogFoto"/>    
                </h:form>
            </p:tab>
            
            <p:tab title="Soporte documental / videos">
                <h:form>
                    <p:dataTable value="#{reporteController.reporte.videoList}" var="video">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{video.nombre}"/>
                        </p:column>
                        <p:column headerText="Descripción">
                            <p:outputLabel value="#{video.descripcion}"/>
                        </p:column>
                        <p:column headerText="Ver video">
                            <p:commandButton value="Ver video" actionListener="#{reporteController.loadVideo(video.video)}" oncomplete="PF('widgetWatchVideo').show();" update=":dialogWatchVideo"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}"  value="Agregar nuevo video" actionListener="#{reporteController.resetUploaded()}" oncomplete="PF('widgetVideo').show();" update=":dialogVideo"/>
                </h:form>
            </p:tab>
            
            <p:tab id="Testigos" title="Testigos">                
                <p:tabView id="TestigosTab" value="#{reporteController.reporte.testigoList}" var="testigo">
                    <p:tab title="#{testigo.rfc}: #{testigo}">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Direccion: #{testigo.direccionID}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputPanel>
                                        <h:outputText rendered="#{not empty testigo.firma}" style="font-size:24px;display:block" value="Firma" />
                                        <p:signature style="width:300px;height:200px;" value="#{testigo.firma}" readonly="true"
                                                     rendered="#{not empty testigo.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Testimonio: #{testigo.testimonio}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <h:form>
                    <p:commandButton rendered="#{sessionController.elemento.nivelAcceso gt 0}" value="Agregar testigo"  oncomplete="PF('widgetTestigo').show();" update=":dialogTestigo"/>    
                </h:form>
            </p:tab>
            
            <p:tab title="Datos del denunciante">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <stron>
                                <p:outputLabel value="RFC: #{reporteController.reporte.denuncianteID.rfc}"/>
                            </stron>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre completo: #{reporteController.reporte.denuncianteID}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dirección: #{reporteController.reporte.denuncianteID.direccionID}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputPanel>
                                <h:outputText rendered="#{not empty reporteController.reporte.denuncianteID.firma}" style="font-size:24px;display:block" value="Firma" />
                                <p:signature style="width:300px;height:200px;" value="#{reporteController.reporte.denuncianteID.firma}" readonly="true"
                                             rendered="#{not empty reporteController.reporte.denuncianteID.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>                
            </p:tab>            

            
        </p:accordionPanel>
        
        
        <p:dialog header="Agregar elemento policial" widgetVar="widgetElementos" id="dialogElementos" modal="true">
            <p:messages id="ems" autoUpdate="true"/>
            <h:form>
                
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Placa" value="Placa del elemento: "/>
                            <p:inputMask id="Placa" mask="999999" value="#{reporteController.elementoReporte.elementoID.placa}" required="true">
                                <p:ajax update="ems elemento" listener="#{reporteController.buscarElemento()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="elemento" value="#{reporteController.elementoReporte.elementoID}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="placasP" value="Placas de la patrulla en la que se movilizó: "/>
                            <p:inputMask id="placasP" mask="a99-99" value="#{reporteController.elementoReporte.patrullaID.placas}" required="true" label="Placas de la patrulla">
                                <p:ajax update="patrulla" listener="#{reporteController.buscarPatrulla()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="patrulla" value="#{reporteController.elementoReporte.patrullaID}"/>
                        </p:column>
                    </p:row>                    
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{reporteController.aniadirElementoReporte()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update="ems :accordion:policias"/>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Parte informativo" widgetVar="widgetInformativo" id="dialogInformativo" modal="true">
            <h:form>
                <p:messages id="msgs" autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Placa: #{reporteController.elementoReporte.elementoID.placa}"/>
                        </p:column>
                    </p:row>                     
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Policia: #{reporteController.elementoReporte.elementoID.nombreCompleto()}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel for="info" value="Redacta tu reporte informativo"/></strong>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:inputTextarea id="info" cols="50" value="#{reporteController.elementoReporte.parteInformativo}" required="true" label="Reporte informativo"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton value="Registrar reporte" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetInformativo').hide();" update=":accordion:policias" actionListener="#{reporteController.agregarParteInformativo()}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Agregar detenido" widgetVar="widgetInfractor" id="dialogInfractor" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>                    
                    <p:row>
                        <p:column>
                            <p:outputLabel for="RFC" value="Ingresa el RFC del detenido: "/>
                            <p:inputMask id="RFC" mask="aaaa999999" value="#{reporteController.infractorReporte.infractorID.rfc}" required="true">
                                <p:ajax update="infractorN" listener="#{reporteController.buscarInfractor()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <strong><p:outputLabel id="infractorN" value="Detenido: #{reporteController.infractorReporte.infractorID}"/></strong>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Ingresa el CP del detenido: "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{reporteController.infractorReporte.direccionID.codigoPostal}" required="true">
                                <p:ajax update="direccionN" listener="#{reporteController.validarDireccion3()}" event="keyup"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="direccionN" value="Dirección del detenido: #{reporteController.infractorReporte.direccionID}"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:selectCheckboxMenu id="menu" value="#{reporteController.infractorReporte.delitosSeleccionados}" label="Delitos"
                                                  filter="true" filterMatchMode="startsWith" panelStyle="width:500px" required="true">
                                <f:selectItems value="#{reporteController.delitos}" />
                            </p:selectCheckboxMenu>                            
                        </p:column>
                    </p:row>

                </p:panelGrid>
                <p:commandButton value="Registrar detenido" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetInfractor').hide();" update="accordion:InfractoresTab" actionListener="#{reporteController.agregarInfractorReporte()}"/>
            </h:form>
        </p:dialog>

        <p:dialog header="Agregar foto de: #{reporteController.infractorReporte.infractorID}" widgetVar="widgetInfractorFoto" id="dialogInfractorFoto" modal="true">
            <h:form enctype="multipart/form-data">
                <p:messages autoUpdate="true"/>
                <p:panelGrid>  
                    <h:inputFile id="file" value="#{reporteController.infractorReporte.file}"/>
                    <h:commandButton value="Subir imagen" actionListener="#{reporteController.subirImagenDetenido()}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Nuevo objeto/evidencia" widgetVar="widgetObjeto" id="dialogObjeto" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Nombre" value="Nombre del objeto: "/>
                            <p:inputText id="Nombre" value="#{reporteController.objeto.nombre}" required="true"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Descripcion" value="Descripción del objeto:"/>
                            <p:inputText id="Descripcion" value="#{reporteController.objeto.descripcion}" required="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton value="Registrar objeto" actionListener="#{reporteController.agregarObjeto()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetObjeto').hide();" update=":accordion:objetosData"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Agregar foto de: #{reporteController.objeto.nombre}" widgetVar="widgetObjetoFoto" id="dialogObjetoFoto" modal="true">
            <h:form enctype="multipart/form-data">
                <p:messages autoUpdate="true"/>
                <p:panelGrid>  
                    <h:inputFile id="file" value="#{reporteController.objeto.file}"/>
                    <h:commandButton value="Subir imagen" actionListener="#{reporteController.subirImagenObjeto()}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Nueva foto" widgetVar="widgetFoto" id="dialogFoto" modal="true">
            <h:form enctype="multipart/form-data">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="N" value="Nombre"/>
                            <p:inputText id="N" value="#{reporteController.foto.nombre}" required="true" label="Nombre"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="D" value="Descripción"/>
                            <p:inputText id="D" value="#{reporteController.foto.descripcion}" required="true" label="Descripción"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:inputFile id="file" value="#{reporteController.foto.file}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <h:commandButton value="Agregar foto" actionListener="#{reporteController.agregarFoto()}"/>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Nuevo Video" widgetVar="widgetVideo" id="dialogVideo" modal="true">
            <h:form enctype="multipart/form-data">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="N1" value="Nombre"/>
                            <p:inputText id="N1" value="#{reporteController.video.nombre}" required="true" label="Nombre"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="D2" value="Descripción"/>
                            <p:inputText id="D2" value="#{reporteController.video.descripcion}" required="true" label="Descripción"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:inputFile id="file" value="#{reporteController.video.file}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <h:commandButton value="Agregar video" actionListener="#{reporteController.agregarVideo()}"/>
            </h:form>
        </p:dialog>
        
        <p:dialog header="Ver video" widgetVar="widgetWatchVideo" id="dialogWatchVideo" modal="true">
            <p:media player="quicktime" value="/resources/media/#{reporteController.videoUrl}" width="500" height="300">
               
            </p:media>
        </p:dialog>
        
        <p:dialog header="Testigo" widgetVar="widgetTestigo" id="dialogTestigo" modal="true">
            <h:form>
                <p:messages id="msgt" autoUpdate="true"/>
                <p:wizard>
                    <p:tab title="Datos generales del testigo">
                        <p:panel header="Nombre del testigo">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="RFC2" value="RFC"/>
                                        <p:inputMask id="RFC2" mask="aaaa999999" value="#{reporteController.testigo.rfc}" required="true" label="RFC">
                                            <p:ajax event="change" listener="#{reporteController.testigoRegistrado()}" update="msgt"/>
                                        </p:inputMask>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="Nombre2" value="Nombre"/>
                                        <p:inputText value="#{reporteController.testigo.nombre}" id="Nombre2" required="true" label="Nombre"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="ApellidoP2" value="Apellido Paterno"/>
                                        <p:inputText value="#{reporteController.testigo.apellidoPaterno}" id="ApellidoP2" required="true" label="Apellido Paterno"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="ApellidoM2" value="Apellido Materno"/>
                                        <p:inputText value="#{reporteController.testigo.apellidoMaterno}" id="ApellidoM2" required="true" label="Apellido Paterno"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab title="Dirección del testigo">
                        <p:panel header="Dirección">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="CP3" value="Codigo Postal"/>
                                        <p:inputMask id="CP3" mask="99999" value="#{reporteController.testigo.direccionID.codigoPostal}" required="true" label="Código Postal">
                                            <p:ajax update="direccionTest" listener="#{reporteController.validarDireccion4()}" event="keyup"/>
                                        </p:inputMask>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel id="direccionTest" value="#{reporteController.testigo.direccionID}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="Calle3" value="Calle"/>
                                        <p:inputText id="Calle3" value="#{reporteController.testigo.calle}" required="true" label="Calle"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="NumeroE3" value="Número Exterior"/>
                                        <p:inputText id="NumeroE3" value="#{reporteController.testigo.numeroExterior}" required="true" label="Número Exterior"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel for="NumeroI3" value="Número Interior"/>
                                        <p:inputText id="NumeroI3" value="#{reporteController.testigo.numeroInterior}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab title="Declaración">
                        <p:panel header="Redacta tu declaración">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <strong><p:outputLabel for="testi" value="Declaración de: #{reporteController.testigo}"/></strong>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:row>
                                            <p:column>
                                                <p:inputTextarea id="testi" cols="50" value="#{reporteController.testigo.testimonio}" required="true" label="Testimonio"/>
                                            </p:column>
                                        </p:row>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab title="Firma">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:panel header="Firma">
                                        <p:signature style="width:300px;height:200px"  backgroundColor="#DCDCDC" widgetVar="sig" guideline="true" guidelineOffset="20" required="true" value="#{reporteController.testigo.firma}" id="Firma"/>
                                        <div style="margin:20px">
                                            <p:commandButton value="Clear" icon="ui-icon-close" type="button" onclick="PF('sig').clear()"/>
                                        </div>   
                                    </p:panel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Resumen">
                        <p:panel header="Datos del Testigo">
                            <p:panelGrid>
                                <p:row>
                                    <p:column><p:outputLabel value="RFC: #{reporteController.testigo.rfc}"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Nombre: #{reporteController.testigo}"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Dirección: #{reporteController.testigo.direccionID}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputPanel>
                                            <h:outputText rendered="#{not empty testigosBean.testigo.firma}" style="font-size:24px;display:block" value="Firma" />
                                            <p:signature style="width:300px;height:200px;" value="#{reporteController.testigo.firma}" readonly="true"
                                                         rendered="#{not empty reporteController.testigo.firma}" backgroundColor="#eaeaea" color="#03a9f4"/>
                                        </p:outputPanel>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab title="Testimonio">
                        <p:panelGrid>
                            <p:row>
                                <p:outputLabel value="Testimonio: #{reporteController.testigo.testimonio}"/>
                            </p:row>
                        </p:panelGrid>
                        <p:commandButton value="Registrar testigo" actionListener="#{reporteController.agregarTestigo()}" oncomplete="PF('widgetTestigo').hide();" update=":accordion:TestigosTab"/>
                    </p:tab>
                </p:wizard>
            </h:form>
        </p:dialog>
        
        
    </ui:define>
</ui:composition>
