<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Patrullas
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAccesoMaestro()}"/>
            <f:event type="preRenderView" listener="#{patrullaController.listar()}"/>
            <f:event type="preRenderView" listener="#{sectorController.listar()}"/>
        </f:metadata>
        
        <h:form id="form">
            <p:dataTable rows="30"  paginator="true" id="data" value="#{patrullaController.patrullas}" var="patrulla">
                <f:facet name="header">
                    Patrullas/Vehículos de la SSP
                </f:facet>                 
                <p:column headerText="Placas" filterBy="#{patrulla.placas}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.placas}"/>
                </p:column>
                <p:column sortBy="#{patrulla.sectorID.identificador}" headerText="Sector" filterBy="#{patrulla.sectorID.identificador}" filterMatchMode="contains">
                    <p:outputLabel value="#{patrulla.sectorID.identificador} - #{patrulla.sectorID.nombre}"/>
                </p:column>                
                <p:column headerText="Marca">
                    <p:outputLabel value="#{patrulla.marca}"/>
                </p:column>
                <p:column headerText="Modelo">
                    <p:outputLabel value="#{patrulla.modelo}"/>
                </p:column>                
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{patrullaController.findForEdit(patrulla.idPatrulla)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{patrullaController.delete(patrulla.idPatrulla)}" update="data"/>
                </p:column>               
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>


        <p:dialog header="Nueva patrulla" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages id="msgs" autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel for="Placas" value="Placas"/></p:column>
                        <p:column><p:inputMask mask="a99-99" id="Placas" value="#{patrullaController.patrulla.placas}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Sector" value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu required="true" converter="selectConverter" id="Sector" value="#{patrullaController.patrulla.sectorID}">                            
                                <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                <f:selectItems value="#{sectorController.sectores}" var="sector" itemLabel="#{sector.identificador} - #{sector.nombre}" itemValue="#{sector}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Marca" value="Marca"/></p:column>
                        <p:column><p:inputText id="Marca" value="#{patrullaController.patrulla.marca}" required="true" label="Marca"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Modelo" value="Modelo"/></p:column>
                        <p:column><p:inputMask mask="9999" id="Modelo" value="#{patrullaController.patrulla.modelo}" required="true" label="Modelo"/></p:column>
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{patrullaController.crear()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update="msgs :form:data"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Editar patrulla" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel  value="Placas"/></p:column>
                        <p:column><p:outputLabel value="#{patrullaController.patrulla.placas}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Sector" value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu required="true" converter="selectConverter" id="Sector" value="#{patrullaController.patrulla.sectorID}">                            
                                <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                <f:selectItems value="#{sectorController.sectores}" var="sector" itemLabel="#{sector.identificador} - #{sector.nombre}" itemValue="#{sector}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Marca" value="Marca"/></p:column>
                        <p:column><p:inputText id="Marca" value="#{patrullaController.patrulla.marca}" required="true" label="Marca"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Modelo" value="Modelo"/></p:column>
                        <p:column><p:inputMask mask="9999" id="Modelo" value="#{patrullaController.patrulla.modelo}" required="true" label="Modelo"/></p:column>
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Actualizar" actionListener="#{patrullaController.edit()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>
           


    </ui:define>
</ui:composition>
