<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
       Elementos
    </ui:define>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAccesoMaestro()}"/>
            <f:event type="preRenderView" listener="#{elementoController.listar()}"/>
            <f:event type="preRenderView" listener="#{sectorController.listar()}"/>
        </f:metadata>
        
        
        <h:form id="form">
            <p:dataTable rows="20"  paginator="true"  id="data" value="#{elementoController.elementos}" var="elemento">
                <f:facet name="header">
                    Elementos de la SSP
                </f:facet>                
                <p:column headerText="Número de placa" filterBy="#{elemento.placa}">
                    <p:outputLabel value="#{elemento.placa}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <p:outputLabel value="#{elemento.nombre} #{elemento.apellidoPaterno} #{elemento.apellidoMaterno}"/>
                </p:column>
                <p:column headerText="Sector">
                    <p:outputLabel value="#{elemento.sectorID.identificador} - #{elemento.sectorID.nombre}"/>
                </p:column>                
                <p:column headerText="Nivel de acceso">
                    <p:outputLabel value="#{elemento.nivelDeAccesoString()}"/>
                </p:column>             
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{elementoController.findForEdit(elemento.idElemento)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{elementoController.eliminar(elemento.idElemento)}" update="data"/>
                </p:column>              
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>


        <p:dialog header="Nuevo elemento" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel for="Placa" value="Número de placa"/></p:column>
                        <p:column><p:inputMask mask="999999" id="Placa" value="#{elementoController.elemento.placa}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Sector" value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" converter="selectConverter" value="#{elementoController.elemento.sectorID}" required="true">                            
                                <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                <f:selectItems value="#{sectorController.sectores}" var="sector" itemLabel="#{sector.identificador} - #{sector.nombre}" itemValue="#{sector}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{elementoController.elemento.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{elementoController.elemento.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{elementoController.elemento.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="level" value="Nivel de acceso"/></p:column>
                        <p:column><p:selectOneMenu id="level" value="#{elementoController.elemento.nivelAcceso}" required="true" label="Nivel de acceso">
                                <f:selectItem itemLabel="Policia" itemValue="0"/>
                                <f:selectItem itemLabel="Personal del Ministerio Público" itemValue="1"/>
                                <f:selectItem itemLabel="Administrador" itemValue="2"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                    

                    <p:row>
                        <p:column><p:outputLabel for="Password" value="Password:"/></p:column>
                        <p:column><p:password id="Password" value="#{elementoController.elemento.password}" feedback="true" required="true"/></p:column>
                    </p:row>                    

                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{elementoController.crear()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update=":form:data"/>
            </h:form>
        </p:dialog>




        <p:dialog header="Editar elemento" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel value="Número de placa"/></p:column>
                        <p:column><p:outputLabel value="#{elementoController.elemento.placa}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Sector" value="Sector al que pertenece"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="Sector" converter="selectConverter" value="#{elementoController.elemento.sectorID}" required="true">                            
                                <f:selectItem itemValue="#{null}" itemLabel="Selecciona" />
                                <f:selectItems value="#{sectorController.sectores}" var="sector" itemLabel="#{sector.identificador} - #{sector.nombre}" itemValue="#{sector}"/> 
                            </p:selectOneMenu>
                        </p:column>                            
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{elementoController.elemento.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{elementoController.elemento.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{elementoController.elemento.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="level" value="Nivel de acceso"/></p:column>
                        <p:column><p:selectOneMenu id="level" value="#{elementoController.elemento.nivelAcceso}" required="true" label="Nivel de acceso">
                                <f:selectItem itemLabel="Policia" itemValue="0"/>
                                <f:selectItem itemLabel="Personal del Ministerio Público" itemValue="1"/>
                                <f:selectItem itemLabel="Administrador" itemValue="2"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                    
                
                </p:panelGrid>
                <p:commandButton value="Modificar" actionListener="#{elementoController.editar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>  
        
        
    </ui:define>
</ui:composition>
