<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Inractores
    </ui:define>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAcceso()}"/>
            <f:event type="preRenderView" listener="#{infractorController.listar()}"/>
        </f:metadata>

        <h:form id="form">
            <p:dataTable id="data" value="#{infractorController.infractores}" var="infractor">
                <f:facet name="header">
                    Infractores
                </f:facet>                 
                <p:column headerText="RFC" filterBy="#{infractor.rfc}" >
                    <p:outputLabel value="#{infractor.rfc}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <p:outputLabel value="#{infractor.nombre} #{infractor.apellidoPaterno} #{infractor.apellidoMaterno}"/>
                </p:column>
                <p:column headerText="Edad">
                    <p:outputLabel value="#{infractor.edad}"/>
                </p:column>                
                <p:column headerText="Género">
                    <p:outputLabel value="#{infractor.genero}"/>
                </p:column>
                <p:column headerText="Consultar Historial">
                    <p:commandButton actionListener="#{infractorController.redirectToViewPage(infractor.idInfractor)}" value="Ver Historial"/>
                </p:column>            
                <p:column headerText="Modificar">
                    <p:commandButton actionListener="#{infractorController.findForEdit(infractor.idInfractor)}" value="Modificar Datos" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Registrar Infractor" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>
        
        
        <p:dialog header="Nuevo infractor" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages id="msgs" autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column><p:outputLabel for="RFC" value="RFC"/></p:column>
                        <p:column><p:inputMask mask="aaaa999999" id="RFC" value="#{infractorController.infractor.rfc}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{infractorController.infractor.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{infractorController.infractor.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>  

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{infractorController.infractor.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>                  


                    <p:row>
                        <p:column><p:outputLabel for="FechaNacimiento" value="Fecha de nacimiento:" /></p:column>
                        <p:column><p:calendar id="FechaNacimiento" navigator="true" value="#{infractorController.infractor.fechaNacimiento}" required="true" label="Fecha de Nacimiento"/></p:column>
                    </p:row>                

                    <p:row>
                        <p:column><p:outputLabel value="Sexo"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.genero}">
                                <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                                <f:selectItem itemLabel="Femenino" itemValue="Femenino"/>
                            </p:selectOneMenu></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel value="Nivel de educación"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.nivelEducacion}">
                                <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                                <f:selectItem itemLabel="Primaria" itemValue="Primaria"/>
                                <f:selectItem itemLabel="Secundaria" itemValue="Secundaria"/>
                                <f:selectItem itemLabel="Preparatoria" itemValue="Preparatoria"/>
                                <f:selectItem itemLabel="Superior" itemValue="Superior"/>
                            </p:selectOneMenu></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel value="Religión"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.religion}">
                                <f:selectItem itemLabel="Ninguna" itemValue="Ninguna"/>
                                <f:selectItem itemLabel="Católico" itemValue="Católico"/>
                                <f:selectItem itemLabel="Judio" itemValue="Judio"/>
                                <f:selectItem itemLabel="Islam" itemValue="Islam"/>
                                <f:selectItem itemLabel="Otras religiones" itemValue="Otras religiones"/>
                                <f:selectItem itemLabel="Protestante o Evangélico" itemValue="Protestante o Evangélico"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                


                    <p:row>
                        <p:column><p:outputLabel value="Etnia"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.etnia}">
                                <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                                <f:selectItem itemLabel="Indígena" itemValue="Indígena"/>
                                <f:selectItem itemLabel="Eurodescendiente" itemValue="Eurodescendiente"/>
                                <f:selectItem itemLabel="Afromexicano" itemValue="Afromexicano"/>
                                <f:selectItem itemLabel="Asiático" itemValue="Asiático"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                

                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{infractorController.registrar()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update=":form:data"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Modificar infractor" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column><p:outputLabel value="RFC"/></p:column>
                        <p:column><p:outputLabel value="#{infractorController.infractor.rfc}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre(s)"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{infractorController.infractor.nombre}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoP" value="Apellido Paterno"/></p:column>
                        <p:column><p:inputText id="ApellidoP" value="#{infractorController.infractor.apellidoPaterno}" required="true" label="Apellido Paterno"/></p:column>
                    </p:row>  

                    <p:row>
                        <p:column><p:outputLabel for="ApellidoM" value="Apellido Materno"/></p:column>
                        <p:column><p:inputText id="ApellidoM" value="#{infractorController.infractor.apellidoMaterno}" required="true" label="Apellido Materno"/></p:column>
                    </p:row>                  


                    <p:row>
                        <p:column><p:outputLabel for="FechaNacimiento" value="Fecha de nacimiento:" /></p:column>
                        <p:column><p:calendar id="FechaNacimiento" navigator="true" value="#{infractorController.infractor.fechaNacimiento}" required="true" label="Fecha de Nacimiento"/></p:column>
                    </p:row>                

                    <p:row>
                        <p:column><p:outputLabel value="Sexo"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.genero}">
                                <f:selectItem itemLabel="Masculino" itemValue="Masculino"/>
                                <f:selectItem itemLabel="Femenino" itemValue="Femenino"/>
                            </p:selectOneMenu></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel value="Nivel de educación"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.nivelEducacion}">
                                <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                                <f:selectItem itemLabel="Primaria" itemValue="Primaria"/>
                                <f:selectItem itemLabel="Secundaria" itemValue="Secundaria"/>
                                <f:selectItem itemLabel="Preparatoria" itemValue="Preparatoria"/>
                                <f:selectItem itemLabel="Superior" itemValue="Superior"/>
                            </p:selectOneMenu></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel value="Religión"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.religion}">
                                <f:selectItem itemLabel="Ninguna" itemValue="Ninguna"/>
                                <f:selectItem itemLabel="Católico" itemValue="Católico"/>
                                <f:selectItem itemLabel="Judio" itemValue="Judio"/>
                                <f:selectItem itemLabel="Islam" itemValue="Islam"/>
                                <f:selectItem itemLabel="Otras religiones" itemValue="Otras religiones"/>
                                <f:selectItem itemLabel="Protestante o Evangélico" itemValue="Protestante o Evangélico"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                


                    <p:row>
                        <p:column><p:outputLabel value="Etnia"/></p:column>
                        <p:column><p:selectOneMenu value="#{infractorController.infractor.etnia}">
                                <f:selectItem itemLabel="Ninguno" itemValue="Ninguno"/>
                                <f:selectItem itemLabel="Indígena" itemValue="Indígena"/>
                                <f:selectItem itemLabel="Eurodescendiente" itemValue="Eurodescendiente"/>
                                <f:selectItem itemLabel="Afromexicano" itemValue="Afromexicano"/>
                                <f:selectItem itemLabel="Asiático" itemValue="Asiático"/>
                            </p:selectOneMenu></p:column>
                    </p:row>                

                </p:panelGrid>
                <p:commandButton value="Modificar" actionListener="#{infractorController.modificar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog> 

    </ui:define>
</ui:composition>
