<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Inractores
    </ui:define>
    
    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">
        
        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAcceso()}"/>
            <f:event type="preRenderView" listener="#{infractorController.loadInfractor()}"/>
        </f:metadata>
        
        <p:fieldset legend="#{infractorController.infractor}">
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Fecha de nacimiento:"/>
                        <p:outputLabel value="#{infractorController.infractor.fechaNacimiento}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </p:outputLabel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Edad: #{infractorController.infractor.edad}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Género: #{infractorController.infractor.genero}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Nivel de educación: #{infractorController.infractor.nivelEducacion}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Religión: #{infractorController.infractor.religion}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Etnia: #{infractorController.infractor.etnia}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <h:form>
                <p:dataTable paginator="true" rows="10" value="#{infractorController.reportesInfractor}" var="reporte">
                    <f:facet name="header">
                        Reportes
                    </f:facet>
                    <p:column headerText="Folio" filterBy="#{reporte.folio}" >
                        <p:outputLabel value="#{reporte.folio}"/>
                    </p:column>
                    <p:column headerText="Fecha del incidente">
                        <p:outputLabel value="#{reporte.fechaHora}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </p:outputLabel>
                    </p:column>
                    <p:column headerText="Sector que atendio" filterBy="#{reporte.sectorID.identificador}">
                        <p:outputLabel value="#{reporte.sectorID}"/>
                    </p:column>
                    <p:column headerText="Título">
                        <p:outputLabel value="#{reporte.titulo}"/>
                    </p:column>
                    <p:column headerText="Hecho">
                        <p:outputLabel value="#{reporte.hecho}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Ver detalles" actionListener="#{reporteController.redirectToViewPage(reporte.idReporte)}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:fieldset>

    </ui:define>
</ui:composition>
