<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content="Dashboard"/>
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>

        <title>WebCop - <ui:insert name="title">Home</ui:insert></title>
        <!-- Bootstrap core CSS -->
        <h:outputStylesheet  name="assets/css/bootstrap.css"/>

        <!--external css-->
        <h:outputStylesheet name="assets/font-awesome/css/font-awesome.css"/>

        <!-- Custom styles for this template -->
        <h:outputStylesheet  name="assets/css/style.css"/>
        <h:outputStylesheet  name="assets/css/style-responsive.css"/>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>

    <h:body>

        <section id="container" >
            <!-- **********************************************************************************************************************************************************
            TOP BAR CONTENT & NOTIFICATIONS
            *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a href="#{request.contextPath}" class="logo"><b>WebCop</b></a>
                <!--logo end-->
                <!--<div class="nav notify-row" id="top_menu">
                    
                </div>-->
                
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <h:form>
                            <li><h:commandLink rendered="#{!sessionController.loggedIn()}" class="logout" value="Login" actionListener="#{sessionController.redirctToLoginPage(request.contextPath)}"/></li>
                            <li><h:commandLink rendered="#{sessionController.loggedIn()}" class="logout" value="Logout" actionListener="#{sessionController.logout()}"/></li>
                        </h:form>
                        <!--<li><a class="logout" href="login.html">Logout</a></li>-->
                    </ul>
                </div>
            </header>
            <!--header end-->

            <!-- **********************************************************************************************************************************************************
            MAIN SIDEBAR MENU
            *********************************************************************************************************************************************************** -->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">

                        <li class="sub-menu">
                            <a href="index.html">
                                <i class="fa fa-dashboard"></i>
                                <span>Catálogos</span>
                            </a>
                            <ul class="sub">
                                <li><h:link rendered="#{sessionController.loggedIn()}" value="Infractores" outcome="/faces/views/infractor/List" /></li>
                                <li><h:link rendered="#{sessionController.esAdminLogeado()}" value="Elementos" outcome="/faces/views/elemento/List" /></li>
                                <li><h:link rendered="#{sessionController.esAdminLogeado()}" value="Sectores" outcome="/faces/views/sector/List" /></li>
                                <li><h:link rendered="#{sessionController.esAdminLogeado()}" value="Patrullas" outcome="/faces/views/patrulla/List" /></li>
                                <li><h:link rendered="#{sessionController.esAdminLogeado()}" value="Cámaras" outcome="/faces/views/camara/List" /></li>
                                <li><h:link rendered="#{sessionController.loggedIn()}" value="Reporte" outcome="/faces/views/reporte/List" /></li>
                            </ul>
                        </li>

                        <li class="sub-menu">

                        </li>

                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->

            <!-- **********************************************************************************************************************************************************
            MAIN CONTENT
            *********************************************************************************************************************************************************** -->
            <!--main content start-->
            <section id="main-content">
                <div class="content-panel">
                    <section class="wrapper site-min-height">
                        <ui:insert name="content">
                            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
                            <div class="row mt">
                                <div class="col-lg-12">
                                    <p>Place your content here.</p>
                                </div>
                            </div>
                        </ui:insert>
                    </section><!--/wrapper -->
                </div>

            </section><!-- /MAIN CONTENT -->

            <!--main content end-->
            <!--footer start-->
            <footer class="site-footer">
                <div class="text-center">
                    2016 - Equipo sin nombre
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>

        <!-- js placed at the end of the document so the pages load faster -->
        <h:outputScript name="assets/js/bootstrap.min.js"/>
        
        <h:outputScript name="assets/js/jquery.ui.touch-punch.min.js"/>
        <h:outputScript name="assets/js/jquery.dcjqaccordion.2.7.js"/>
        <h:outputScript name="assets/js/jquery.scrollTo.min.js"/>
        <h:outputScript name="assets/js/jquery.nicescroll.js"/>
        <!--common script for all pages-->
        <h:outputScript name="assets/js/common-scripts.js"/>
        <!--script for this page-->
        
    </h:body>
</html>
