<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Cámaras
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAccesoMaestro()}"/>
            <f:event type="preRenderView" listener="#{camaraController.listar()}"/>
        </f:metadata>
        
        
        <h:form id="form">
            <p:dataTable rows="20" paginator="true" id="data" value="#{camaraController.camaras}" var="camara">
                <f:facet name="header">
                    Cámaras
                </f:facet>                
                <p:column headerText="Número de cámara" filterBy="#{camara.identificador}">
                    <p:outputLabel value="#{camara.identificador}"/>
                </p:column>
                <p:column headerText="Ubicación: Código Postal" filterBy="#{camara.idDireccion.codigoPostal}">
                    <p:outputLabel value="#{camara.idDireccion.codigoPostal}"/>
                </p:column> 
                <p:column headerText="Ubicación: Estado" filterBy="#{camara.idDireccion.estado}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.idDireccion.estado}"/>
                </p:column> 
                <p:column headerText="Ubicación: Municipio" filterBy="#{camara.idDireccion.municipio}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.idDireccion.municipio}"/>
                </p:column> 
                <p:column headerText="Ubicación: Colonia" filterBy="#{camara.idDireccion.colonia}" filterMatchMode="contains">
                    <p:outputLabel value="#{camara.idDireccion.colonia}"/>
                </p:column> 
                <p:column headerText="Ubicación: Calle">
                    <p:outputLabel value="#{camara.calle}"/>
                </p:column>                                 
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" actionListener="#{camaraController.findForEdit(camara.idCamara)}" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2"/>
                </p:column>
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{camaraController.eliminar(camara.idCamara)}" update="data"/>
                </p:column>
                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>


        <p:dialog header="Nueva cámara" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages id="msgs" autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel for="Identificador" value="Número de cámara"/>
                            <p:inputMask mask="99999" id="Identificador" value="#{camaraController.camara.identificador}" required="true"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Direccion (sólo código postal) "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{camaraController.camara.idDireccion.codigoPostal}" required="true">
                                <p:ajax update="some" listener="#{camaraController.validarDireccion()}" event="change"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="some" value="#{camaraController.camara.idDireccion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Calle" value="Calle donde se ubica la cámara: "/>
                            <p:inputText id="Calle" value="#{camaraController.camara.calle}" required="true"/>
                        </p:column>                        
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{camaraController.crear()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update="msgs :form:data"/>
            </h:form>
        </p:dialog>

        <p:dialog header="Modificar cámara" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>

                    <p:row>
                        <p:column><p:outputLabel value="Número de cámara: "/>
                            <p:outputLabel value="#{camaraController.camara.identificador}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel for="Dirección" value="Direccion (sólo código postal) "/>
                            <p:inputMask id="Dirección" mask="99999" value="#{camaraController.camara.idDireccion.codigoPostal}" required="true">
                                <p:ajax update="some" listener="#{camaraController.validarDireccion()}" event="change"/>
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel id="some" value="#{camaraController.camara.idDireccion}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel for="Calle" value="Calle donde se ubica la cámara: "/>
                            <p:inputText id="Calle" value="#{camaraController.camara.calle}" required="true"/>
                        </p:column>                        
                    </p:row>
                </p:panelGrid>
                <p:commandButton value="Editar" actionListener="#{camaraController.editar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>



        
    </ui:define>
</ui:composition>
