<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        Sectores
    </ui:define>

    <style>
        .ui-panelgrid * {
            border : 0px !important;
        }
        .ui-dialog{
            top: 0px !important;
            left: 0px !important;
        }
        .ui-icon.fa {
            font-size: 12px;
        }  
    </style> 

    <ui:define name="content">

        <f:metadata>
            <f:event type="preRenderView" listener="#{sessionController.darAccesoMaestro()}"/>
            <f:event type="preRenderView" listener="#{sectorController.listar()}"/>
        </f:metadata>
        
        <h:form id="form">
            <p:dataTable rows="20"  paginator="true" id="data" value="#{sectorController.sectores}" var="sector">
                <f:facet name="header">
                    Sectores de la SSP
                </f:facet>                 
                <p:column sortBy="#{sector.identificador}" headerText="Sector" filterBy="#{sector.identificador}" filterMatchMode="contains">
                    <p:outputLabel value="#{sector.identificador}"/>
                </p:column>
                <p:column headerText="Nombre" filterBy="#{sector.nombre}" filterMatchMode="contains">
                    <p:outputLabel value="#{sector.nombre}"/>
                </p:column>
                <p:column headerText="Modificar">
                    <p:commandButton value="Modificar" oncomplete="PF('widgetDatos2').show();" update=":dialogDatos2" actionListener="#{sectorController.findForEdit(sector.idSector)}"/>
                </p:column>  
                <p:column headerText="Eliminar">
                    <p:commandButton value="Eliminar" actionListener="#{sectorController.eliminar(sector.idSector)}" update="data"/>
                </p:column>                
            </p:dataTable>
            <p:commandButton value="Registrar" oncomplete="PF('widgetDatos').show();" update=":dialogDatos"/>
        </h:form>


        <p:dialog header="Nuevo sector" widgetVar="widgetDatos" id="dialogDatos" modal="true">
            <h:form>
                <p:messages id="msgs" autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column><p:outputLabel for="Identificador" value="Identificador"/></p:column>
                        <p:column><p:inputMask mask="999" id="Identificador" value="#{sectorController.sector.identificador}" required="true" maxlength="3"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre del sector"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{sectorController.sector.nombre}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>

                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{sectorController.crear()}" oncomplete="if (args &amp;&amp; !args.validationFailed)" update="msgs :form:data"/>
            </h:form>
        </p:dialog>
        
        
        <p:dialog header="Editar Sector" widgetVar="widgetDatos2" id="dialogDatos2" modal="true">
            <h:form>
                <p:messages autoUpdate="true"/>
                <p:panelGrid>
                    <p:row>
                        <p:column><p:outputLabel value="Identificador"/></p:column>
                        <p:column><p:outputLabel value="#{sectorController.sector.identificador}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column><p:outputLabel for="Nombre" value="Nombre del sector"/></p:column>
                        <p:column><p:inputText id="Nombre" value="#{sectorController.sector.nombre}" required="true" label="Nombre del sector"/></p:column>
                    </p:row>

                </p:panelGrid>
                <p:commandButton value="Registrar" actionListener="#{sectorController.editar()}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('widgetDatos2').hide();" update=":form:data"/>
            </h:form>
        </p:dialog>



    </ui:define>
</ui:composition>
