<ui:composition template="/WEB-INF/admin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">
        WebCop
    </ui:define>

    <ui:define name="content">
        <h:outputScript name="assets/js/jquery.js"/>
        
        <div class="container">
            Bienvenido a WebCop
        </div>
        
    </ui:define>
</ui:composition>